body{
  height: 1500px;
  position: relative;
}

nav{
  background-color: lightblue;
}

#navbar1{
  background-color: lightgreen;
  position: fixed;
  width: 100%;
}



ul{
padding: 0;
display: flex;
}

li{
  display: inline;
  padding: 10px;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  color: #fff;
}

.dropdownMenu{
  background-color: lavender;
  position: absolute;
  flex-direction: column;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
  left: 0;
  top: 75%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s, top 0.5s;
}

.dropdownContainer{
  position: relative;
}

.dropdownContainer:hover  .dropdownMenu,
.dropdownMenu:hover{
  visibility: visible;
  opacity: 1;
  top: 100%;
}

/* .fancy:hover{
  background-color: pink;
} */

.fancy:hover a{
  color: white;
}

@media only screen and (max-width: 768px) {
  ul{
    flex-direction: column;
    align-items: center;
  }

  #home{
    margin-right: 0;
  }
}
