body{
  background-color: lightblue;
}

.collage-1{

}

.collage-2{

}

.collage-3{

}

.movieposter{

}

.orange{

}

.block{
  background-color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
